.heading-primary {
  color: white;
  margin-bottom: 5rem;
  backface-visibility: hidden;

  &-main {
    font-size: 8rem;
    display: block;
    // letter-spacing: .5rem;
    font-weight: 800;
    animation: scale 1s ease-out;
    line-height: 1.1;

    @include respond(tab-land) {
      // letter-spacing: 1rem;
      font-size: 7rem;
    }

    @include respond(tab-port) {
      font-weight: 700;
    }

    @include respond(phone) {
      font-weight: 700;
      font-size: 3rem;
    }
  }

  &-sub {
    text-transform: uppercase;
    display: block;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: 700;
    animation: toptodown 1s ease-out;
    margin-bottom: 2rem;

    @include respond(phone) {
      // letter-spacing: 0.5rem;
      font-size: 1.5rem
    }
  }
}

.heading--secondary {
  color: #091E3E;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2;


}

.paragraph {
  font-size: 1.6rem;

  @include respond(tab-port) {
    font-size: 2.2rem;
  }
}

.tags {
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  // margin-bottom: 1rem;
  color: #06A3DA;
}