.brands {
    padding: 3rem 0;

    &__items {
        display: flex;
        justify-content: space-between;

        @include respond(tab-port) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            row-gap: 5rem;
        }
    }
}