.information {



    &__title {
        font-size: 2.8rem;
        padding-bottom: 1rem;
        // margin-bottom: 2.4rem;

        @include respond(tab-land) {
            // margin-bottom: 1rem;
            // padding-bottom: .5rem;
        }
    }

    .div2 {
        @include animatedLineSmall(42%, 0)
    }

    &__item {
        display: flex;
        margin-bottom: 1rem;
        justify-content: start;
        align-items: center;
        transition: all .3s;

        &--icon {
            font-size: 1.7rem;
            color: #06A3DA;
            margin-right: .8rem;
        }
    }
}

.transform {
    transform: translateX(10%);
}